/* ESSENTIALS CSS */

body{
	margin: 0;
	padding: 0; 
	font-family: 'Roboto', sans-serif;
	font-weight : 400;
	line-height: 1.43;
	color: #484848;
}

p{
	font-size: 16px;
	margin: 0; 
	padding: 0; 
}

a:link{
	font-size: 16px;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

a:visited{
	text-decoration: none;
	margin: 0;
	padding: 0;
} 

h1, h2, h3, h4, h5, h6, ul, ol, li{
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style-type: none;
}

::selection {
	color: #fff;
	background-color: #333;
}

::-moz-selection {
	color: #fff;
	background-color: #333;
}

.clearfix::after {
	content:"";
	display: table;
	clear : both;
}

/*TOP-NAV CSS */
.top-nav {
	position: fixed;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
}
 
.logo:link { 
	position: relative;
	color: #484848;
	display: inline-block;
	transition: all 0.3s ease; 
	-webkit-transition: all 0.3s ease;
	-moz-transtion: all 0.3s ease;
	-o-transtion: all 0.3s ease;
	float: left; 
}

.logo:visited {
	color: #484848;	
}

.logo:hover{
	background-color: #f1f1f1;
}

.logo img { 
	position: relative;
	padding: 12px 18px;
	width: 100px; 
	border-right: 1px solid #ccc;
	vertical-align: middle;
	height: 40px;
}

/*NAV-SEARCH CSS*/
#nav-search-wrapper {
	display: inline-block;
	width: 490px;
	height: 100%;
	box-sizing: border-box;
}

#nav-search-wrapper form svg {
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

#nav-search-wrapper form input {
  padding: 22px 10px 18px 52px;
  width: 100%;
  border: none;
  outline: none;
  color: #666;
  font-size: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-image: url('/img/search-icon.png');
  background-repeat: no-repeat;
  background-position: 15px;
  background-size: 20px;
}

#nav-search-wrapper form input::-webkit-input-placeholder { 
	color: #666;	
	font-size: 14px;
}


#nav-search-wrapper form input::-moz-placeholder {
	color: #666;	
	font-size: 14px;
}

#nav-search-wrapper form input:-ms-input-placeholder {
	color: #666;
	font-size: 14px;
}
 
#nav-search-wrapper form input:-moz-placeholder {
	color: #666;
	font-size: 14px;
}

.top-nav ul {
	float: right;
	padding: 17px 0;
}

.top-nav ul li {
	display: inline-block;
	margin: 0 25px;
}

.top-nav ul li a:link {
	color: #484848;
	font-size: 14px; 
	
}

.top-nav ul li a:visited {
	color: #484848;
}
